# hmm para deteccao de regimes

# markov switching para recalcular pesos do portfolio

hmmlearn
pandas 
numpy
matplotlib
plotly
nbformat
networkx
torch

#data

ipeadatapy
python-bcb
bacendata
yfinance
